body {
  background-color: lightblue; 
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: black;
  font-weight: 700;
}

.account-form {
  background: skyblue; 
  border-radius: 15px;
  max-width: 700px;
  color: #e1e8f3;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.account-form label {
  font-weight: 600;
  color: black;
}

.account-form input,
.account-form select,
.account-form textarea {
  background-color: #57799e; 
  color: #f0f4f8;
  border: none;
  font-weight: 600;
  border-radius: 7px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.account-form input:focus,
.account-form select:focus,
.account-form textarea:focus {
  background-color: #7ea6d8;
  outline: none;
  color: #213060;
}

.account-form button.btn-primary {
  background-color: #213060;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.account-form button.btn-primary:hover {
  background-color: #78a5d8;
  color: #0f244d;
}

@media (max-width: 576px) {
  .account-form {
    padding: 20px 15px;
  }
}
