body {
  background-color: lightblue; 
  font-family: 'Montserrat', sans-serif;
}
h2 {
  color: black;
  font-weight: 700;
}
.account-form {
  background: skyblue; 
  border-radius: 15px;
  max-width: 700px;
  color: white; 
}
.account-form label {
  font-weight: 600;
  color: black;
}
.account-form textarea {
  background-color: #57799e; 
  color: white;
  font-weight: 600;
  border-radius: 7px; 
}
.account-form button.btn-primary {
  background-color: #213060;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
.account-form button.btn-primary:hover {
  background-color: #78a5d8;
  color: #0f244d;
}
@media (max-width: 576px) {
  .account-form {
    padding: 20px 15px;
  }
}
