.navbar-custom {
  background: #233d80;
  border-radius: 0 0 30px 30px; 
}
.nav-link {
  color: #fff;
  margin-right: 20px;
  font-weight: 500;
  font-size: larger;
}
.nav-link:hover {
  color: lightgreen;
  border-bottom: 2px solid rgb(241, 176, 10);
}
.main-section {
  background: #448dae;
  color: white;
  border-radius: 0 0 30px 30px;
  padding: 60px 40px 40px 40px;
  display: flex;
  flex-direction: row;
}
.main-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.main-text h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: #fff;
}
.main-text h2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #213060;
  margin-bottom: 24px;
}
.main-text p {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 26px;
}
.know-more-btn {
  background: #213060;
  color: white;
  padding: 12px 32px;
  border-radius: 10px;
  font-weight: bold;
}
.know-more-btn:hover {
  background: #febf45;
  color: #233d80;
}
.main-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-image img {
  max-width: 100%;
  border-radius: 14px;
  box-shadow: 0 2px 32px rgba(44,85,160,0.18);
}
.features-section {
  background: #233d80;
  color: white;
  border-radius: 0 0 40px 40px;
  padding: 32px 0;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}
.feature-icon {
  background: #488ffe;
  padding: 18px;
  border-radius: 40px;
  color: white;
  font-size: 2rem;
  margin-bottom: 11px;
  display: inline-block;
}
.feature-title {
  font-weight: 500;
  margin-top: 9px;
  font-size: 1.04rem;
}
.feature-desc {
  font-size: 0.98rem;
  color: #cad8f3;
}
@media (max-width: 992px) {
  .main-section {
    flex-direction: column;
    padding: 30px 8px;
  }
  .main-image {
    margin-top: 30px;
  }
}
.balancestyle{
    background-color:skyblue;
    color: black;
    font-weight: bold;
    font-size: large;
}
